[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aneesh Agrawal (aneeshusa)
[access "refs/for/refs/*"]
	read = group user/Aneesh Agrawal (aneeshusa)
	push = group user/Aneesh Agrawal (aneeshusa)
	label-Code-Review = -2..+2 group user/Aneesh Agrawal (aneeshusa)
	label-Verified = -1..+1 group user/Aneesh Agrawal (aneeshusa)
	rebase = group user/Aneesh Agrawal (aneeshusa)
	removeReviewer = group user/Aneesh Agrawal (aneeshusa)
	submit = group user/Aneesh Agrawal (aneeshusa)
[access "refs/heads/*"]
	read = group user/Aneesh Agrawal (aneeshusa)
	create = group user/Aneesh Agrawal (aneeshusa)
	push = +force group user/Aneesh Agrawal (aneeshusa)
	pushMerge = group user/Aneesh Agrawal (aneeshusa)
[access "refs/tags/*"]
	push = +force group user/Aneesh Agrawal (aneeshusa)
	pushTag = group user/Aneesh Agrawal (aneeshusa)
	pushSignedTag = group user/Aneesh Agrawal (aneeshusa)
[project]
	state = hidden
